@import url(vars.css);


.img-circular img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    height: 7.8em;
    border-radius: 50%;
}

.img-pos {
    display: grid;
    justify-content: end;

}

.img-fav {
    position: absolute;
    width: .5em;
    height: .5em;
}

.img-fav img {
    width: auto;
    height: 7.5em;
    margin-left: 1em;
}

img-center {
    text-align: center;
}

.text-user {
    color: var(--clr-gray-100);
}

.pos-text {
    margin-top: 1.5em;
}

.title-fav {
    font-size: var(--fs-md1);
    color: var(--clr-green);
}

.btn-sesion {
    background-color: var(--clr-green);
    padding: .7em 1em .7em 1em;
    border-radius: 1.5em;
    color: var(--clr-white);
    text-decoration: none;
    font-size: .9em;
}

.btn-sesion:hover {
    background-color: var(--clr-green-300);
}

.btn-foto {
    font-family: var(--ff-primary);
    color: var(--clr-green);
    background: none;
    border: none;
}

.font-family {
    font-family: var(--ff-primary);
}

.btn-submit {
    font-family: var(--ff-primary);
    border: none;
    margin-top: 2em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .column {
        width: 90%;
        margin-left: .5em;

    }
    .img-circular img {
        width: 7em;
        height: 6.8em;
    }
}

@media (min-width: 601px) {
    .column {
        width: 45%;
    }

    .row-card {
        margin-left: 1em;
    }

    .text-user {
        font-size: var(--fs-md);
    }

    .title-fav {
        font-size: var(--fs-mdxl);
    }
}

@media (min-width: 900px) {
    .column {
        width: 30%;
    }

    .text-user {
        font-size: var(--fs-md1);
    }

    .title-fav {
        font-size: var(--fs-lg);
    }

    .btn-foto {
        font-size: var(--fs-sm);
    }
}

@media (min-width: 1250px) {
    .column {
        width: 32.8%;
    }

    .text-user {
        font-size: var(--fs-mdxl);
    }

    .title-fav {
        font-size: var(--fs-lg);
    }

    .btn-foto {
        font-size: var(--fs-md);
    }
}

@media (min-width: 1700px) {
    
    .column {
        margin-left: .5em;
    }

    .btn-foto {
        font-size: var(--fs-md1);
    }
}