@import url(vars.css);

* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.375em;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.125em;
  transition: 0.6s ease;
  border-radius: 0 0.188em 0.188em 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.188em 0 0 0.188em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0.75em;
  padding: 80.5em 0.75em;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.625em;
  width: 0.625em;
  margin: 0 0.125em;
  background-color: var(--clr-green-200);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--clr-green-100);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media (min-width: 600px) {
  .text {
    font-size: 1.1em;
  }

  .dot {
    margin: 0 0.2em;
  }
}

@media (min-width: 900px) {
  .text {
    font-size: 1.3em;
  }

  .dot {
    margin: 0 0.4em;
  }
}

@media (min-width: 1250px) {
  .text {
    font-size: 1.5em;
  }

  .dot {
    margin: 0 0.4em;
  }
}