@import url(vars.css);

html {
    font-size: var(--base-fs);
}

body {
    font-family: var(--ff-primary);
}

.text-center {
    text-align: center;
}

.text-green {
    color: var(--clr-green);
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

/*filas*/
.row {
    display: flex;
    flex-wrap: wrap;
}

/*columnas*/
.col {
    flex: 1 0 0%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.6%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.6%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.3%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.67%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.67%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

/* gap - space between items */
.gap-1 {
    gap: -1em;
}

.gap-2 {
    gap: calc(var(--fs-xsm) * var(--spacer-sm));
}

.gap-3 {
    gap: calc(var(--fs-xsm) * var(--spacer-md));
}

.gap-4 {
    gap: calc(var(--fs-xsm) * var(--spacer-lg));
}

.gap-5 {
    gap: calc(var(--fs-xsm) * var(--spacer-xlg));
}

.m-auto {
    margin-right: auto;
    margin-left: auto;
}

/*top*/
.mt-1 {
    margin-top: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.mt-2 {
    margin-top: calc(var(--fs-xsm)*var(--spacer-sm));
}

.mt-3 {
    margin-top: calc(var(--fs-xsm)*var(--spacer-md));
}

.mt-4 {
    margin-top: calc(var(--fs-xsm)*var(--spacer-lg));
}

.mt-5 {
    margin-top: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*right*/
.mr-1 {
    margin-right: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.mr-2 {
    margin-right: calc(var(--fs-xsm)*var(--spacer-sm));
}

.mr-3 {
    margin-right: calc(var(--fs-xsm)*var(--spacer-md));
}

.mr-4 {
    margin-right: calc(var(--fs-xsm)*var(--spacer-lg));
}

.mr-5 {
    margin-right: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*botton*/
.mb-1 {
    margin-bottom: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.mb-2 {
    margin-bottom: calc(var(--fs-xsm)*var(--spacer-sm));
}

.mb-3 {
    margin-bottom: calc(var(--fs-xsm)*var(--spacer-md));
}

.mb-4 {
    margin-bottom: calc(var(--fs-xsm)*var(--spacer-lg));
}

.mb-5 {
    margin-bottom: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*left*/
.ml-1 {
    margin-left: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.ml-2 {
    margin-left: calc(var(--fs-xsm)*var(--spacer-sm));
}

.ml-3 {
    margin-left: calc(var(--fs-xsm)*var(--spacer-md));
}

.ml-4 {
    margin-left: calc(var(--fs-xsm)*var(--spacer-lg));
}

.ml-5 {
    margin-left: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*padding properties*/
/*padding*/
.pa-1 {
    padding: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.pa-2 {
    padding: calc(var(--fs-xsm)*var(--spacer-sm));
}

.pa-3 {
    padding: calc(var(--fs-xsm)*var(--spacer-md));
}

.pa-4 {
    padding: calc(var(--fs-xsm)*var(--spacer-lg));
}

.pa-5 {
    padding: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*top*/
.pt-1 {
    padding-top: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.pt-2 {
    padding-top: calc(var(--fs-xsm)*var(--spacer-sm));
}

.pt-3 {
    padding-top: calc(var(--fs-xsm)*var(--spacer-md));
}

.pt-4 {
    padding-top: calc(var(--fs-xsm)*var(--spacer-lg));
}

.pt-5 {
    padding-top: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*right*/
.pr-1 {
    padding-right: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.pr-2 {
    padding-right: calc(var(--fs-xsm)*var(--spacer-sm));
}

.pr-3 {
    padding-right: calc(var(--fs-xsm)*var(--spacer-md));
}

.pr-4 {
    padding-right: calc(var(--fs-xsm)*var(--spacer-lg));
}

.pr-5 {
    padding-right: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*bottom*/
.pb-1 {
    padding-bottom: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.pb-2 {
    padding-bottom: calc(var(--fs-xsm)*var(--spacer-sm));
}

.pb-3 {
    padding-bottom: calc(var(--fs-xsm)*var(--spacer-md));
}

.pb-4 {
    padding-bottom: calc(var(--fs-xsm)*var(--spacer-lg));
}

.pb-5 {
    padding-bottom: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*left*/
.pl-1 {
    padding-left: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.pl-2 {
    padding-left: calc(var(--fs-xsm)*var(--spacer-sm));
}

.pl-3 {
    padding-left: calc(var(--fs-xsm)*var(--spacer-md));
}

.pl-4 {
    padding-left: calc(var(--fs-xsm)*var(--spacer-lg));
}

.pl-5 {
    padding-left: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*positioning*/

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

/*top*/
.top-1 {
    top: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.top-2 {
    top: calc(var(--fs-xsm)*var(--spacer-sm));
}

.top-3 {
    top: calc(var(--fs-xsm)*var(--spacer-md));
}

.top-4 {
    top: calc(var(--fs-xsm)*var(--spacer-lg));
}

.top-5 {
    top: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*bottom*/
.bottom-0 {
    bottom: 0;
}

.bottom-1 {
    bottom: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.bottom-2 {
    bottom: calc(var(--fs-xsm)*var(--spacer-sm));
}

.bottom-3 {
    bottom: calc(var(--fs-xsm)*var(--spacer-md));
}

.bottom-4 {
    bottom: calc(var(--fs-xsm)*var(--spacer-lg));
}

.bottom-5 {
    bottom: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*left*/
.left-1 {
    left: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.left-2 {
    left: calc(var(--fs-xsm)*var(--spacer-sm));
}

.left-3 {
    left: calc(var(--fs-xsm)*var(--spacer-md));
}

.left-4 {
    left: calc(var(--fs-xsm)*var(--spacer-lg));
}

.left-5 {
    left: calc(var(--fs-xsm)*var(--spacer-xlg));
}

/*right*/
.right-1 {
    right: calc(var(--fs-xsm)*var(--spacer-xsm));
}

.right-2 {
    right: calc(var(--fs-xsm)*var(--spacer-sm));
}

.right-3 {
    right: calc(var(--fs-xsm)*var(--spacer-md));
}

.right-4 {
    right: calc(var(--fs-xsm)*var(--spacer-lg));
}

.right-5 {
    right: calc(var(--fs-xsm)*var(--spacer-xlg));
}

.img-auto{
    width: auto;
}

.img-20 {
    width: 23%;
}

.img-25 {
    width: 25%;
}

.img-30 {
    width: 30%;
}

.img-40 {
    width: 40%;
}

.img-50{
    width: 50%;
}

.img-60 {
    width: 60%;
}

.img-70 {
    width: 70%;
}

.img-80 {
    width: 80%;
}

.img-90{
    width: 90%;
}
.img-100 {
    width: 100%;
}
