:root {
    /*custum properties - constants*/
    --base-fs: 15px;
    --spacer-xsm: 0.25;
    --spacer-sm: 0.5;
    --spacer-md: 1;
    --spacer-lg: 1.5;
    --spacer-xlg: 3;

    /*fonts & weight*/
    --ff-primary: 'Comfortaa';
    --fw-light: 300;
    --fw-reg: 400;
    --fw-bold: 700;

    /*Font size*/
    --fs-xsm: 1rem;
    --fs-sm: 1.125rem;
    --fs-rg: 1.25rem;
    --fs-md: 1.5rem;
    --fs-md1: 2rem;
    --fs-mdxl: 3rem;
    --fs-lg: 4rem;
    --fs-xlg: 5rem;

    /*Colors*/
    --clr-gray-100: hsl(0, 0%, 40%);
    --clr-gray-200: hsl(0, 0%, 60%);
    --clr-gray-300: hsl(0, 0%, 10%);
    --clr-green: hsl(92, 67%, 46%);
    --clr-green-100: hsl(92, 65%, 41%);
    --clr-green-200: hsl(92, 88%, 77%);
    --clr-green-300: hsla(92, 67%, 46%, .6);
    --clr-white: hsl(0, 0%, 100%);

}